@import "tailwindcss";

/* 
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
 */

 /* Orange Gradient Scrollbar */
.orange-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.orange-scrollbar::-webkit-scrollbar-track {
  background: #fff7ed;
  border-radius: 10px;
}

.orange-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    #fb923c,
    #f97316,
    #ea580c
  );
  border-radius: 10px;
}

.orange-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    #f97316,
    #ea580c,
    #c2410c
  );
}



/* .mentor-track {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: mentor-scroll 30s linear infinite;
}

.mentor-track:hover {
  animation-play-state: paused;
}

.mentor-card {
  min-width: 380px;
}

@keyframes mentor-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} */


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* hide scrollbar */
.animate-marquee ::-webkit-scrollbar {
  display: none;
}

